body {
  background-color: #0a0a23;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}
#page {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

#game {
  max-width: 600px;
  max-height: 300px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}
#bgImg {
  max-width: 600px;
  max-height: 600px;
  margin: 30px auto 0px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
}
img {
  object-fit: fill;
  height: 600px;
  width: 600px;
}
#experimentalcolumnA, #experimentalcolumnB {
	color: #ffffff;
	max-width: 300px;
	padding: 10px;
	margin: auto;
	border: 1px solid #ffffff;
	border-radius: 5px;
}
#experimentalcolumnA {
	transform: rotate(-90deg);

}
#experimentalcolumnB {
	
	padding: 10px;
	/*margin: 30px auto aut0;*/
	
}
.Dtext {
	color: #ffffff;
	font-size: 60px;
	/*transform: rotate(90deg); */
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}

a {
	color: #7fff00;
	
}
